* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(38, 42, 50);
}

header {
  width: 100%;
  height: 10%;
}

#logo {
  display: flex;
  float: left;
}

#logo h2 {
  width: 73px;
  height: 25px;
  font-family: Lato - Extra Bold;
  color: #011847;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6.33px;
  margin: 0;
  padding-top: 12px;
}
#logo h3 {
  text-align: center;
  width: 74px;
  height: 17px;
  font-family: Lato;
  color: #84bc22;
  font-size: 18px;
  font-weight: 400;
}

.navbar {
  display: flex;
  line-height: 50px;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  text-decoration: black;
  font-family: Lato;
}

.nav-items {
  display: flex;
  vertical-align: middle;
}

.navbar a {
  float: left;
  text-transform: uppercase;
  font-size: 16px;
  color: black !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.my_dropdown {
  float: left;
  overflow: hidden;
}

.my_dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  text-transform: uppercase;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover,
.my_dropdown:hover .dropbtn {
  background-color: #262a32;
  border-color: #84bc32;
}

#logo a:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

.dropdown-content {
  display: none;
  flex-flow: column wrap;
  line-height: 1;
  position: absolute;
  background-color: #262a32;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: #262a32;
  padding: 16px;
  color: black;
}

.my_dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */

.dropdown-column {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: #262a32;
  height: 350px;
}

.dropdown-column {
  color: black;
}

.dropdown-column a {
  float: none;
  font-family: Lato;
  color: #ffffff;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.a {
  color: black;
}
.dropdown-column a:hover {
  background-color: #262a32;
}

/* Clear floats after the columns */

.dropdown-row:after {
  display: table;
  clear: both;
}

.dropdown-row-header {
  display: flex;
  justify-content: space-around;
  background: #262a32;
  color: white;
  text-transform: uppercase;
  text-transform: bold;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .dropdown-column {
    width: 100%;
    height: auto;
  }
}

/* Carousel */
.slick-slide {
  height: 500px;
  width: 500px;
  box-sizing: border-box;
}

.slide-img {
  height: 500px;
}

.slide-button p {
  width: 80px;
  height: 18px;
  color: black;
  font-size: 14px;
  font-weight: 400px;
  text-transform: uppercase;
}

.slide-text-1 p {
  text-align: left;
  width: 559px;
  height: 93px;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 48px;
  font-weight: 700;
}

.slide-text-2 p {
  display: flex;
  text-align: center;
  width: 559px;
  height: 93px;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 48px;
  font-weight: 700;
}

.slide-text-3 p {
  display: flex;
  text-align: right;
  width: 559px;
  height: 93px;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 48px;
  font-weight: 700;
}

.slide-mini-text-1 p {
  display: flex;
  padding: 40px;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.slide-mini-text-1 p {
  display: flex;
  padding: 40px;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.slide-mini-text-2 p {
  display: flex;
  padding: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}
.slide-mini-text-3 p {
  display: flex;
  padding: 40px;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}
.slide-wrapper {
  display: block;
  width: 1171px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

/*Cookies */
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: white;
  color: #45413e;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container h2 {
  text-transform: bold;
  color: #84bc22;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #84bc22;
}

.cookie-btn {
  background: #84bc22;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

/* Navbar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

/* User login and Search */

.search-icon {
  float: right;
  display: flex;
  width: 5%;
}
.user-icon {
  float: right;
  display: flex;
  width: 5%;
}
.login-container {
  padding: 2rem 0rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px;
  }
  .modal-dialog .modal-content {
    padding: 1rem;
  }
}

.modal-header .close {
  margin-top: -1.5rem;
}

.modal-header {
  margin-top: -1.5rem;
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;
}

.social-buttons .btn {
  margin: 0 0.5rem 1rem;
}

.social-buttons {
  margin: 0 0.5rem 1rem;
}

.signup-section {
  padding: 0.3rem 0rem;
}

/*Banner */

.banner-wrapper {
  background-color: rgba(38, 42, 50);
  position: relative;
  padding: 5px;
}

.banner-txt p {
  position: absolute;
  font-family: "Myriad Pro";
  font-size: 50px;
  color: #ffffff;
  font-weight: 500px;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 20px;
  right: 20px;
}

/*Featured products */

.feat-products {
  display: flex;
  justify-content: space-around;
  background-color: rgba(38, 42, 50);
}
.feat-products p {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.static-background-p {
  display: flex;
  background-color: rgba(38, 42, 50);
  padding: 10px;
}
.static-img p {
  display: flex;
  justify-content: flex-end;
  flex-basis: 25%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.static-img h3 {
  display: flex;
  color: green;
}

.section-basic {
  display: flex;
}

.static-background {
  display: flex;
  justify-content: space-around;
  background-color: #45413e;
  padding: 30px;
}

.static-feature {
  display: block;
  color: white;
}

.static-feature img {
  width: 59px;
  height: 67px;
}

.static-text {
  display: flex;
  color: gray;
}

.footer-items {
  display: flex;
  flex-direction: left;
  background-color: gray;
}

.contact-info {
  display: flex;
}

.contact-info a {
  display: flex;
  padding: 20px;
}

.contact-info p {
  display: flex;
  font-size: 20px;
  text-align: center;
}

.categories p {
  display: flex;
  text-align: center;
}

.social-platform {
  display: flex;
  padding: 50px;
}

.copyright {
  display: flex;
  padding: 50px;
}

/*Popular items */
.popular-items-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10vw;
  padding-right: 10vw;
  justify-content: space-between;
}

.popular-items {
  display: flex;
  position: relative;
  width: 17vw;
  max-width: 271px;
  background-size: 300px 100px;
  justify-content: center;
  vertical-align: center;
  flex-direction: column;
  background-color: #816fca;
  background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
}

#wrapper {
  background-image: url("./img/pitem_1.png"), linear-gradient(green);
  background-repeat: no-repeat;
  background-size: auto;
  width: 17vw;
  height: 260px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popular-items:hover #wrapper {
  opacity: 0.1;
  -webkit-transition: opacity 0.8s ease-in;
  -moz-transition: opacity 0.8s ease-in;
  -ms-transition: opacity 0.8s ease-in;
  -o-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
}
.popular-items:hover #actions-wrapper {
  z-index: 10;

  opacity: 1;
  -webkit-transition: opacity 0.8s ease-in;
  -moz-transition: opacity 0.8s ease-in;
  -ms-transition: opacity 0.8s ease-in;
  -o-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
}

.image-wrapper {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
}

#actions-wrapper {
  display: flex;
  opacity: 0;
  width: 17vw;
  max-width: 271px;
  height: 260px;
  justify-content: space-evenly;
  align-items: center;
}

#details-wrapper {
  background-color: white;
}

.popular-items:hover #details-wrapper {
  opacity: 0.1;
  -webkit-transition: opacity 0.8s ease-in;
  -moz-transition: opacity 0.8s ease-in;
  -ms-transition: opacity 0.8s ease-in;
  -o-transition: opacity 0.8s ease-in;
  transition: opacity 0.8s ease-in;
}
